<style>
   body{
    
    background-color: #bcfac1;
    display: flex;
    gap: 10px;
    
   
   }
  
   .chat input{
    padding: 15px;
    border-radius: 20px;
    font-family: monospace;
    font-size: 1rem;
    border: 1px solid #00ff1586;
    margin-top: 60vh;
    display: flex;
    justify-content: center;
    margin-left: 15rem;
    width: 750px;
    justify-content: center;
    box-shadow: 3px 3px 3px  #bbbbbb86;
   }
   .envoie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
   }
   .envoie input{
    border:1px solid #00ff1586;
    height: 47px;
    width: 47px;
    border-radius: 50px;
    font-weight: bold;
    font-family: baloo;
    color: #0e5e1486;
    box-shadow: 3px 3px 3px  #bbbbbb86;
    transition: transform 1s ease, box-shadow 1s ease;
   }
   
   .envoie input:hover{
    box-shadow: 3px 3px 3px  #80808086;
    transform: translateY(-8px)
    
   }
  
  
</style>


<body>
    <div class="chat">
        <input type="text" placeholder="Ecrivez un text">
    </div>
    <div class="envoie">
        <input type="submit" value=">>">
    </div>


</body>